/* Basic resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Theme variables */
:root {
  --background-color: white;
  --text-color: black;
  --navbar-bg-color: white;
  --navbar-item-color: black;
}

[data-theme="dark"] {
  --background-color: #121212;
  --text-color: #ffffff;
  --navbar-bg-color: #000000;
  --navbar-item-color: #ffffff;
}

.navbar {
  
  position: fixed;
  bottom: 0;
  border-radius: 10px;
  width: 100%;
  background-color: white;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Ensures it stays on top of the content */
}

/* Navbar item styles */
.nav-item {
  text-decoration: none;
  color: var(--navbar-item-color);
  font-size: 24px;

}

.icon {
  font-size: 1.5rem;
}

/* Content styles */
.content {
  padding: 20px;
  text-align: center;
}
