/* General Styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 400px;
  margin: auto;
  
}

.profile-card {
  width: 100%;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 100%;
  padding-bottom: 60PX;
}

.profile-card img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.profile-card h2 {
  margin: 10px 0 5px;
}

.profile-card p {
  color: #888;
}

.rating {
  font-size: 24px;
  color: #ffa500;
}

.button {
  display: block;
  width: 80%;
  padding: 10px;
  margin: 10px 10px;
  text-align: center;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  align-items: center;
}

.button.green {
  background-color: #28a745;
}

.contact-info {
  margin-top: 20px;
  text-align: left;
}

.contact-info h3 {
  margin-bottom: 10px;
}

.contact-info p {
  margin: 5px 0;
}

.contact-info a {
  color: #007bff;
  text-decoration: none;
}

/* Navbar Styles */
.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.navbar a {
  color: #333;
  text-decoration: none;
  font-size: 24px;
}

/* Ensure scrolling is allowed */
body {
  overflow-y: auto;
}

/* Media Query for mobile responsiveness */
@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    padding: 10px;
  }

  .profile-card {
    padding: 15px;
  }

  .profile-card img {
    width: 100px;
    height: 100px;
  }

  .button {
    padding: 8px;
    font-size: 14px;
  }
}
