

<router-outlet></router-outlet>
<!-- 
<nav class="navbar">
  <div>logo</div>
  <div class="nav-items">

    <a routerLink="/" routerLinkActive="active" class="nav-link">Home</a>
    <div class="nav-link earnings">
      <a (click)="navigateToEarnings()" style="color: white; text-decoration: none;">Earnings</a>
      @if(showPopup){
        <div class="earnings-popup" >
          <h3>Earnings of the Day</h3>
          <p>$150.00</p>
          <button (click)="navigateToEarnings()" class="earning-page-button">My Earnings </button>
        </div>
      }
    </div>
  </div>
  <div (click)="navigateToProfile()" class="profile">
    <img src="../../assets/icons8-male-user-96.png" alt="Profile Photo" class="profile-photo">
  </div>
</nav> -->
<nav class="navbar">
    <a routerLink="/" routerLinkActive="active" class="nav-item"><i class="icon home-icon">🏠</i></a>
    <a routerLink="/earnings" routerLinkActive="active" class="nav-item"><i class="icon search-icon">$</i></a>
    <!-- <a href="#" class="nav-item"><i class="icon settings-icon">⚙️</i></a>
    <a (click)="toggleTheme()" class="nav-item theme-toggle">🌓</a> -->
</nav>
