.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  background-color: #333;
  color: white;
}

.nav-items {
  display: flex;
  gap: 20px;

}

.nav-link {
  color: white;
  text-decoration: none;
}

.earnings {
  position: relative;
}

.earnings-popup {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  color: black;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: none;
}

.earnings-popup {
  display: block;
}

.earning-page-button{
  background-color: white;
  color: rgb(51, 136, 205);
  border-color: rgb(51, 136, 205);
  border-radius: 20px;
}

.selected {
  font-weight: bold;
}