
<div class="map-container">
  <!-- Top bar -->
  <div class="top-bar">
    <div class="search-icon">☰</div>
    <div class="earnings-badge">$76.78</div>
    <div  class="profile-pic">
      <a routerLink="/profile" routerLinkActive="active"><img src="../../assets/user_17740832.png" height="30" width="30" alt="Profile"></a>
    </div>
  </div>

  <!-- Route indicator -->
  <div class="route-indicator">
    $8.50 for 3 miles
  </div>

  <!-- Central navigation icon -->
  <div class="navigation-icon">▲</div>
@if(showRideRequest){
  <app-ride-requests></app-ride-requests>
}
  <!-- Go button -->
  <div class="go-button">GO</div>

  <!-- Bottom bar -->
  <!-- <div class="bottom-bar">
  <div class ="blank"></div>
    <div class="status">You're offline</div>
    <div class="menu-icon"></div>
  </div> -->
</div>

