* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

.map-container {
  position: relative;
  width: 100%;
  max-width: 400px;
  height: 100vh;
  /* background-image: url('https://via.placeholder.com/800x1200'); Replace with a real map image */
  background-size: cover;
  background-position: center;
  align-items: center;
  margin: 20px auto;
  display: flex;
  justify-content: center;
}

/* Top Bar */
.top-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.search-icon {
  font-size: 24px;
  background-color: transparent;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  
}

a{
  text-decoration: none;
}


.earnings-badge {
  background-color: black;
  color: white;
  padding: 10px 15px;
  border-radius: 25px;
  font-weight: bold;
}

.profile-pic img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

/* Route Indicator */
.route-indicator {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4688f1;
  color: white;
  padding: 8px 15px;
  border-radius: 25px;
  font-weight: bold;
}

/* Navigation Icon */
.navigation-icon {
  position: absolute;
  bottom: 200px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 40px;
  color: blue;
  text-align: center;
}

/* GO Button */
.go-button {
  position: absolute;
  bottom: 100px;  
  left: 50%;
  transform: translateX(-50%);
  background-color: #007bff;
  color: white;
  padding: 20px 20px;
  font-size: 24px;
  font-weight: bold;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

/* Bottom Bar */
.bottom-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  display: flex;
  
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
}

.status {
  font-size: 16px;
  text-align: center;
}

.menu-icon {
   
  flex-direction: row-reverse;
  font-size: 24px;
  cursor: pointer;
}
.blank{
  width: 25px;
}
