/* styles.css */
h2{
  align-self: center;
  padding: 5px;
  text-align: center;
  color: rgb(80, 37, 95);

}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

#ride-requests-container {
    display: grid;
    align-items: center;
    gap: 20px;
    align-items: center;
    padding: 20px;
    justify-content: center;
    
}

.ride-request-box {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ride-request-box h3 {
    margin: 0 0 10px 0;
    font-size: 18px;
}

.ride-request-box p {
    margin: 0;
    font-size: 14px;
}

.selected {
  font-weight: bold;
}

details {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
}

summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

details[open] {
  padding: 0.5em;
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
}
